.form {
  background-color: white;
  width: 50%;
  height: 60%;
  padding: 10px;
  background-color: greenyellow;
  position: relative;
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
}

.singleButton {
  display: flex;
  justify-content: end;
  margin-top: auto;
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}
