<div class="container">
  <div class="card">
    <section class="heading">
      <h1>{{ isRegistered ? "Login Page" : "Registration Page" }}</h1>
    </section>
    <section class="body">
      <form class="content_pos" (ngSubmit)="onSubmit()">
        <app-input
          [isVisible]="!isRegistered"
          name="firstName"
          label="First name"
          [value]="formData.firstName"
          type="text"
        ></app-input>
        <app-input
          [isVisible]="!isRegistered"
          name="lastName"
          label="Last name"
          [value]="formData.lastName"
          type="text"
        ></app-input>

        <app-input
          type="text"
          name="password"
          label="password"
          [value]="formData.password"
        ></app-input>
        <app-input
          [isVisible]="!isRegistered"
          type="text"
          name="passwordConfirm"
          label="Confirm password"
          [value]="formData.passwordConfirm"
        ></app-input>

        <input [(ngModel)]="formData.email" type="text" name="email" />

        <button
          (click)="isRegistered ? login() : register()"
          class="submitButton"
          type="submit"
        >
          Sumbit
        </button>
      </form>

      <p (click)="toggleIsRegistered()">
        {{
          isRegistered
            ? "Already Registered? Click here to login"
            : "Not registered? Click here to create an account"
        }}
      </p>
    </section>
  </div>
</div>
