<div class="container">
  <div class="card">
    <section class="heading">
      <h1>{{ isRegistered ? "Login Page" : "Registration Page" }}</h1>
    </section>
    <section class="body">
      <form #loginForm="ngForm" class="content_pos" (ngSubmit)="login()">
        <label *ngIf="!isRegistered">
          First name<input
            #firstName="ngModel"
            required
            [ngClass]="
              firstName.invalid && firstName.touched ? 'inputError' : ''
            "
            name="firstName"
            [(ngModel)]="formData.firstName"
            type="text"
            class="textInput"
          />
          <p
            class="errorMessage"
            *ngIf="firstName.invalid && firstName.touched"
          >
            First name is required
          </p>
        </label>

        <label *ngIf="!isRegistered"
          >Last name
          <input
            #lastName="ngModel"
            class="textInput"
            required
            [ngClass]="lastName.invalid && lastName.touched ? 'inputError' : ''"
            name="lastName"
            [(ngModel)]="formData.lastName"
            type="text"
          />
          <p class="errorMessage" *ngIf="lastName.invalid && lastName.touched">
            First name is required
          </p>
        </label>
        <label
          >Email
          <input
            #email="ngModel"
            [ngClass]="email.invalid && email.touched ? 'inputError' : ''"
            class="textInput"
            name="email"
            [(ngModel)]="formData.email"
            type="text"
            required
            email
          />
          <p class="errorMessage" *ngIf="email.invalid && email.touched">
            {{ email.errors?.["email"] ? "Invalid email" : "Email required" }}
          </p>
        </label>
        <label
          >Password
          <input
            [pattern]="
              !isRegistered
                ? '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$'
                : ''
            "
            #password="ngModel"
            [ngClass]="password.invalid && password.touched ? 'inputError' : ''"
            required
            name="password"
            [(ngModel)]="formData.password"
            type="text"
          />
          <p class="errorMessage" *ngIf="password.invalid && password.touched">
            {{
              !isRegistered && password.invalid && password.errors?.["pattern"]
                ? "Password is too weak"
                : "Password is required"
            }}
          </p>
        </label>
        <label *ngIf="!isRegistered"
          >Confirm password
          <input
            [ngClass]="
              passwordConfirm.invalid && passwordConfirm.touched
                ? 'inputError'
                : ''
            "
            #passwordConfirm="ngModel"
            required
            name="passwordConfirm"
            [(ngModel)]="formData.passwordConfirm"
            type="text"
          />
          <p
            class="errorMessage"
            *ngIf="passwordConfirm.invalid && passwordConfirm.touched"
          >
            Password confirm is required
          </p>
        </label>
        <button
          class="submitButton"
          type="submit"
          [disabled]="loginForm.form.invalid"
        >
          Sumbit
        </button>
      </form>

      <p
        class="link"
        (click)="resetLoginFormValidation(loginForm); toggleIsRegistered()"
      >
        {{
          isRegistered
            ? "Not registered? Click here to create an account"
            : "Already Registered? Click here to login"
        }}
      </p>

      <p class="serverError" *ngIf="serverErrorMessage">
        {{ serverErrorMessage }}
      </p>
    </section>
  </div>
</div>
