<div class="container">
  <div class="left">
    <a>Feed</a>
    <a>Profile</a>
    <a routerLink="/dashboard/search">Invite friends</a>
    <a (click)="toggleShowCreateEditPost()">Create a post</a>
    <a routerLink="/componentLibrary"> Component Library </a>
  </div>
  <div class="right">
    <div class="iconName">{{ initails }}</div>
    <a>Settings</a>
    <a>Sign Out</a>
  </div>
</div>

<app-create-edit-post
  *ngIf="showCreateEditPost"
  class="overlay-center-children"
  appCloseModalOnClickOutisde
  (toggleVisiblity)="toggleShowCreateEditPost()"
/>
