<div class="container">
  <div class="left">
    <a routerLink="/dashboard/feed">Feed</a>
    <a>Profile</a>
    <a routerLink="/dashboard/search">Invite friends</a>
    <a (click)="toggleShowCreateEditPost()">Create a post</a>
    <a routerLink="/componentLibrary"> Component Library </a>
  </div>
  <div class="right">
    <div *ngIf="user$ | async as user" class="iconName">
      {{ user.firstName[0] + user.lastName[0] }}
    </div>
    <a>Settings</a>
    <a>Sign Out</a>
  </div>
</div>

<app-create-edit-post
  *ngIf="showCreateEditPost"
  class="overlay-center-children"
  appCloseModalOnClickOutisde
  (toggleVisiblity)="toggleShowCreateEditPost()"
/>
