<div
  class="feed-container"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  [scrollWindow]="false"
  (scrolled)="loadMorePosts()"
>
  <div class="refresh" (click)="refreshFeed()">Refresh</div>
  <ng-container *ngIf="feedPosts$ | async as posts">
    <div class="post-container" *ngFor="let post of posts">
      <app-feedpost [postContent]="post" />
    </div>
  </ng-container>
  <div class="loading" *ngIf="isLoading">...loading</div>
  <app-feedback-message
    *ngIf="serverError"
    [message]="serverError"
    [fullWidth]="false"
    severity="error"
  />
</div>
