.banner {
  padding: 6px 8px;
  color: white;
  cursor: pointer;
  background-color: grey;
  transition: 0.3s;
}

.following {
  background-color: blue;
}

.banner:hover {
  background-color: darkblue;
}

.container {
  width: 100%;
  padding: 10px 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.fullName {
  color: darkblue;
  font-size: large;
}
